.lead {
    max-width: 984px;
    min-height: 1005px;
    margin: 0 auto 92px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        min-height: 962px;

    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .lead {
        max-width: 100%;
        min-height: 862px;
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 100%;
        min-height: 406px;
        margin: 0 auto 64px;
    }
    
}

