.header {
    max-width: 1184px;
    min-height: 52px;
    margin: 28px auto 56px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header {
        max-width: 928px;
       
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .header {
        max-width: 720px;
        margin: 28px auto 48px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
        min-height: 42px;
        margin: 16px auto 48px;
    }
}