.cover {
    max-width: 1184px;
    margin: 0 auto;

}

@media screen (max-width: 1279px) {
    .cover {
        max-width: 100%;
    }
   
}

@media screen and (min-width: 321px) and (max-width: 768px)  {
   .cover {
    max-width: 100%;
   }
}

@media screen and (max-width: 320px) {
   .cover {
    max-width: 100%;
   }
}